.loading{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 5em;
    height: 100vh;
}
.loading span {
    width: 1em;
    height: 3em;
    background-color: #ffd600;
  }
  
  .loading span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
  }
  
  .loading span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
  }
  
  .loading span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
  }
  
  .loading span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
  }
  
  @keyframes grow {
    0%,
    100% {
      transform: scaleY(1);
    }
  
    50% {
      transform: scaleY(2);
    }
  }
/*h3는 임의로 정해둔거여서 스타일에 따라 바꿔도 무관 바꿀 때 Home.js 부분도 수정*/
/*Home.js Link to 는 버튼이라고 생각하면 됨*/

/*header*/
header{
    width: 78vw;
    height: 46px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > a {
    margin: 0;
}


.logo{
    width: 80px;
    height: 35px;
    margin: 0;
}

.loginBtn{
    margin: 0;
}

/*main*/
.slide-container {
    width: 100vw;
}

.menu{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffd600;
}

.top_movie{
    width: 78vw;
    margin-top: 76px;
}

.top_movie_head{
    height: 49px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_movie_button{
    margin: 0;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
}

.allBtn{
    margin: 0;
    background-color: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.4;
    margin-right: 17px;
}

.btn{
    margin: 0;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 8px;
    opacity: 0.4;
}
.btn:hover, .allBtn:hover{
    transition: 0.4s;
    opacity: 1;
}
.btn:nth-child(3){
    margin-right: 18px;
}
.btn:nth-child(3) img {
    padding-left: 3px;
}



.btn img, .allBtn img{
    width: 100%;
    
}

#top_movie_group{
    width: 100%;
}

.nonscroll{
    overflow: hidden;
}
.top_movie_ul{
    transition-duration: 1s;
    width: 100vw;
    display: flex;
}

.top_movie_li{
    width: 18.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1vw;
}
.top_movie_box{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_movie_li_title{
    display: inline-block;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
    font-size: 1.1em;
    
}

.top_movie_li > img{
    width: 100%;
    display: block;
    justify-content: center;
}

.top_movie_li_percent{
    display: block;
    text-align: start;
    margin: 0;
    margin-top: 2px;
}

.top_movie_li_open{
    display: inline-block;
    text-align: start;
    margin: 0;
    margin-top: 2px;
}

.top_movie_li_age{
    display: block;
    text-align: start;
    margin: 0;
}

/*trailer*/
.trailer{
    width: 78vw;
    margin-top: 76px;
}
.trailer h3{
    display: inline-block;
    width: 10vw;
}



.trailer_head{
    height: 49px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trailer_button{
    width: 90px;
    margin: 0;
    display: flex;
}

.trailer_group{
    /*트레일러 영상 영역*/
    display: flex;
    overflow: hidden;
}
.TrailImgBox{
    width: 23vw;
    border: 1px solid white;
}
.tailerImg{
    width: 23vw;
    position: relative;
}
.trailer_ul{
    transition-duration: 1.5s;
    width: 100vw;
    display: flex;
}

.playBtn{
    z-index: 2;
    position: absolute;
}
.playBtnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 480px;
    height: 256px;
}

/*트레일러 영상 팝업 부분*/
 .ss{
    position: relative;
    cursor: pointer; 
    margin-right: 4vw;
}
.ss:nth-child(3),.ss:nth-child(6),.ss:nth-child(9){
    margin-right: 1vw;
}
.movieTrail{
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 0;
}
.mainTrailer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(5, 5, 5, 0.98);
    text-align: center;
}
.closeBtn {
    float: right;
    margin-right: 3vw;
    margin-top: 2vh;
    cursor: pointer;
}
.mainTrailer > div > video{
    height: 90vh;
    margin-top: 3vh;
    
}

/*장르별*/
.genreHeader{
    display: flex;
    align-items: flex-end;
    justify-content: start;
}
.genreHeader h3 {
   
}

.genre{
    width: 78vw;
    margin-top: 76px;
}
.menuBar{
    margin: 0;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.menuBar img{
    width: 100%;
    height: 100%;
}

.genre_head{
    height: 49px;
    padding-bottom: 15px;
}

.genreBtns{
    margin: 0;
    margin-left: 10px;
    
}
.genreBtns > button{
    cursor: pointer;
    opacity: 0.8;
    margin-left: 3px;
}
.genreBtns > button:hover {
    font-size: 18px;
    opacity: 1;
    color: #ffffff;
    transition: 0.5s;
    font-weight: bold;
}

.genreList{

}
.genreList ul{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    width: 100%;
}

.genreMovies{
    width: 220px;
    margin: 0;
    margin-right: 30px;
    
}

.genreMovies a li{
    display: inline-block;
}

.genreMovies li img{
    width: 100%;
}
.genreTitle{
    display: block;
    font-size: 0.8em;
}

.genreMovies li span{

}

/*반응형*/
@media (max-width:500px){
    .top_movie{
        margin-top: 0;
    }
    #sliderCon{
        display: none;
    }
    .top_movie_li{
        width: 38vw;
    }
    .top_movie_box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .top_movie_li_percent, .top_movie_li_open, .top_movie_li_age{
        font-size: 0.9em;
    }
    
    .genreMovies{
        width: 20vw;
    }
    .ss{
        width: 75vw;
        margin-right: 5vw;
        
    }
    .TrailImgBox{
        width: 75vw;
    }
   
    .playBtnBox{
        width: 75vw;
    }
    .tailerImg{
        width: 75vw;
    }
    
    .mainTrailer{
        margin-left: -500px;
        height: 500px;
        width: 1500px;
        transform: rotate(270deg);
        text-align: center;
    }
    .mainTrailer > div > video{
        margin-top: -160px;
        margin-left: 115px;
        width: 750px;
    }
    .closeBtn {
       margin-right: 520px;
        cursor: pointer;
    }
    
}
