.loading{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
/*h3는 임의로 정해둔거여서 스타일에 따라 바꿔도 무관 바꿀 때 Home.js 부분도 수정*/
/*Home.js Link to 는 버튼이라고 생각하면 됨*/

/*header*/
header{
    width: 85vw;
    height: 46px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 80px;
    height: 35px;
    margin: 0;
}

.loginBtn{
    margin: 0;
}

/*main*/
.slide-container {
    width: 100vw;
}

.menu{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.top_movie{
    width: 78vw;
    margin-top: 76px;
}

.top_movie_head{
    height: 49px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_movie_button{
    margin: 0;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
}

.allBtn{
    margin: 0;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 0.8;
}

.btn{
    margin: 0;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 8px;
    opacity: 0.8;
}
.btn:hover, .allBtn:hover{
    transition: 0.4s;
    opacity: 1;
}
.btn:nth-child(3){
    margin-right: 18px;
}
.btn:nth-child(3) img {
    padding-left: 3px;
}



.btn img, .allBtn img{
    width: 100%;
    
}

#top_movie_group{
    width: 100%;
}

.nonscroll{
    overflow: hidden;
}
.top_movie_ul{
    transition-duration: 1s;
    width: 100vw;
    display: flex;
}

.top_movie_li{
    margin: 0;
    width: 18.5vw;
    display: inline-block;
    margin-right: 20px;
}

.top_movie_li_title{
    text-align: start;
    display: block;
}

.top_movie_li > img{
    width: 100%;
    display: block;
    justify-content: center;
}

.top_movie_li_percent{
    display: block;
    text-align: start;
}

.top_movie_li_open{
    display: block;
    text-align: start;
}

.top_movie_li_age{
    display: block;
    text-align: start;
}

/*trailer*/
.trailer{
    width: 78vw;
    margin-top: 76px;
}
.trailer h3{
    display: inline-block;
    width: 10vw;
}



.trailer_head{
    height: 49px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trailer_button{
    width: 90px;
    margin: 0;
    display: flex;
}

.trailer_group{
    /*트레일러 영상 영역*/
    display: flex;
    overflow: hidden;
}

.tailerImg{
    width: 25vw;
    position: relative;
}
.trailer_ul{
    transition-duration: 1.5s;
    width: 100vw;
    display: flex;
}

.playBtn{
    z-index: 2;
    position: absolute;
}
.playBtnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25vw;
    height: 320px;
}

/*트레일러 영상 팝업 부분*/
 .ss{
    position: relative;
    cursor: pointer; 
    margin-right: 1vw;
} 
.movieTrail{
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 0;
}
.mainTrailer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(5, 5, 5, 0.98);
    text-align: center;
}
.closeBtn {
    float: right;
    margin-right: 3vw;
    margin-top: 2vh;
    cursor: pointer;
}
.mainTrailer > div > video{
    height: 90vh;
    margin-top: 3vh;
}

/*장르별*/
.genre{
    width: 78vw;
    margin-top: 76px;
}

.genre_head{
    height: 49px;
    padding-bottom: 15px;
}

.genreBtns{

}

.genreBtns > button{

}

.genreList{

}
.genreList ul{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    width: 100%;
}

.genreMovies{
    width: 200px;
    margin: 0;
    margin-right: 14px;
}

.genreMovies a li{
    display: inline-block;
}

.genreMovies li img{
    width: 100%;
}
.genreTitle{
    display: block;
}

.genreMovies li span{

}