.map {
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: medium;
  border-color: #D8D8D8;
}

.kakomap_form{
  width: 78vw;
  margin-top: 15px;
  margin-bottom: 100px;
}
.mapTitle{
  
}
.selectMovie{
  font-size: 20px;
  font-weight: bold;
}

.mapContain{
  margin-top: 15px;
  margin-bottom: 20px;
}
.list_palytime{
  height: 400px;
  display: grid;
  grid-template-columns: 20vw 58vw;
}
.movieList{
  background-color: #555555;
}

.listTitle{
  background-color: #000000;
  padding: 15px 0px;
}
.list_Form{
  width: 18vw;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.list_Form::-webkit-scrollbar{
  width: 0.5em;
}
.list_Form::-webkit-scrollbar-thumb{
  background-color: #999999;
}

.list_Form::-webkit-scrollbar-track{
  background-color: #222222;
}
.list_select{
  cursor: pointer;
  margin-bottom: 5px;
  opacity: 0.6;
  transition: opacity .2s;
}
.list_select:hover{
  opacity: 1;
  font-weight: bold;
}
.listName{
  font-size: 18px;
  margin-right: 5px;
}



.playTime{
  margin: 15px;
}

.playTimeBlock{
  list-style: none;
  display: inline-block;
  margin: 15px;
  width: 220px;
  padding: 10px;
  border-radius: 5%;
  background-color: #333333;
  margin: 10px 30px 10px 0;
}
.playTimeBlock li{
  margin-bottom: 3px;
}

.playTimeBox{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 18px;
}

.playTimeBox::-webkit-scrollbar{
  width: 0.5em;
}
.playTimeBox::-webkit-scrollbar-thumb{
  background-color: #999999;
}

.playTimeBox::-webkit-scrollbar-track{
  background-color: #222222;
}

.playTimeList{
  margin-bottom: 15px;
  
}

/*반응형*/
@media (max-width:500px){
.map {
  height: 300px;
}
.list_palytime{
  display: block;
  width: 100%;
}
.list_Form{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  font-size: 15px;
  place-items: center;
}

.playTime{
  width: 100%;
}
.playTimeBlock{
  width: 25vw;
}

}